body {
    background-image: url(https://api.spacedev.vn/uploads/courses/frontend-zero/beans.jpg);
    font-family: sans-serif;
  }
  
  h1, h2, p {
    text-align: center;
  }

  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%
  }
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }

  h1,h2{
   font-family: Impact;
  }
  h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  h2{
    font-size: 30px;
  }
  .established{
    font-style: italic;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
  }
  hr{
    height: 2px;
    border-color: brown;
    background-color: brown;
  }
  .bottom-line{
    margin-top: 25px;
  }

  /*FOOTER*/
  a:hover{
    color: brown;
  }
  a{
    color: black;
  }
  a:active{
    color: brown;
  }
  footer{
    font-size:14px ;
  }
  .address{
    margin-bottom: 5px;
  }